<nav>
	<img id="startJump" src="{{ site.baseurl }}/images/startjump.jpg">
	<img id="prev" src="{{ site.baseurl }}/images/prev.jpg">
	<div id="navLinks">
		<a class="intro" href="{{ site.baseurl }}/">Intro</a>
		<a class="why" href="{{ site.baseurl }}{% post_url 2015-11-16-Why %}">Why Video Documentation?</a>
		<a class="methods" href="{{ site.baseurl }}{% post_url 2015-12-05-Methods %}">Methodology</a>
		<a class="selection" href="{{ site.baseurl }}{% post_url 2015-11-18-VideoSelection %}">Video Selection</a>
		<a class="audience" href="{{ site.baseurl }}{% post_url 2015-11-16-Audience %}">Knowing Your Audience</a>
		<a class="coding" href="{{ site.baseurl }}{% post_url 2015-11-25-Coding %}">Coding</a><br/>
		<a class="va" href="{{ site.baseurl }}{% post_url 2015-11-25-VisualAids %}">Visual Aids</a>
		<a class="present" href="{{ site.baseurl }}{% post_url 2015-11-28-Presenting %}">Presenting Information</a>
		<a class="quality" href="{{ site.baseurl }}{% post_url 2015-11-25-MetaMaterial %}">Video Qualities</a>
		<a class="supplement" href="{{ site.baseurl }}{% post_url 2015-11-25-Supplemental %}">Supplemental Material</a>
		<a class="end" href="{{ site.baseurl }}{% post_url 2015-11-25-Conclusion %}">Conclusion</a>
	</div>
	<img id="next" src="{{ site.baseurl }}/images/next.jpg">
	<img id="endJump" src="{{ site.baseurl }}/images/endjump.jpg">
</nav>

